@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	 * {
		outline: 1px solid yellow !important;
	} 
	input[type="text"],
	input[type="password"],
	input[type="textbox"] {
		@apply rounded-full border border-gray-400 px-4 py-2 bg-transparent transition-colors focus:border-gray-200 hover:border-gray-300;
	}

	input[type="checkbox"] {
		@apply rounded-full border border-gray-400 bg-transparent transition-colors hover:border-gray-300;
	}

	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="textbox"]:focus,
	input[type="checkbox"]:focus {
		box-shadow: none;
		outline: none;
	}
}

@layer components {
	.chkbx-primary {
	}

	.chkbx-primary-label {
		@apply flex items-center gap-2 cursor-pointer select-none hover:text-gray-200 has-[:checked]:text-gray-200 relative border-gray-400 rounded-full transition-colors;
	}

	.chkbx-primary-label input[type="checkbox"] {
		@apply hidden;
	}

	.chkbx-box {
		@apply w-4 h-4 rounded-full border-2 border-gray-400 transition-all;
		content: "";
		display: inline-block;
		position: relative;
	}

	/* Checked = gray background */
	.peer:checked + .chkbx-box {
		@apply bg-gray-300 border-gray-300;
	}

	.chkbx-box::after {
		@apply transition-opacity opacity-0 duration-300 rounded-full bg-gray-300 w-1.5 h-1.5;
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	/* Indeterminate = small circle inside */
	.peer:indeterminate + .chkbx-box::after {
		opacity: 1;
	}

	.chkbx-primary-label:hover .chkbx-box {
		@apply border-gray-300;
	}

	.btn-primary {
		@apply bg-gray-200 text-gray-800 font-semibold rounded-full px-4 py-2 cursor-pointer transition-colors;
	}
	.btn-primary:hover {
		@apply bg-gray-400;
	}
	.nav-link {
		@apply font-semibold transition-colors hover:text-gray-500;
	}

	.menu-button {
		@apply fixed top-4 right-4 lg:invisible lg:hidden lg:size-0 z-10;
	}

	.menu-button__close {
		@apply static;
	}

	.menu-button__open {
		@apply fixed;
	}

	.menu-icon {
		@apply flex flex-col justify-center gap-1.5 h-6 w-6;
	}

	.menu-icon > div {
		@apply transition-[opacity,transform,transform-origin] duration-300;
	}

	.menu-icon__open > div:first-child {
		@apply -rotate-45 origin-right -translate-x-1;
	}
	.menu-icon__open > div:nth-child(2) {
		@apply opacity-0 transform translate-x-2;
	}
	.menu-icon__open > div:last-child {
		@apply rotate-45 origin-right -translate-x-1;
	}

	.mobile-nav {
		@apply fixed top-0 right-0 h-screen sm:w-80 max-sm:w-full lg:invisible transition-transform duration-300;
	}

	.mobile-nav__open {
		@apply translate-x-0;
	}

	.mobile-nav__close {
		@apply translate-x-full;
	}

	.bg-curtain {
		@apply absolute top-0 left-0 h-screen w-full bg-gray-950 opacity-0 transition-opacity duration-300 lg:hidden;
	}

	.bg-curtain__open {
		@apply !opacity-70;
	}

	.bg-curtain__close {
		@apply transition-all duration-300 invisible;
	}

	.hero-section {
		@apply py-32 px-4 sm:px-8 md:px-16 text-center z-0;
	}

	.main-form {
		@apply max-w-sm mx-auto min-w-full flex flex-col gap-4;
	}

	.main-form input[type="text"],
	.main-form input[type="email"],
	.main-form input[type="password"] {
		@apply w-full px-4 rounded-full border border-gray-300 bg-gray-950;
	}
	.main-form input[type="submit"] {
		@apply btn-primary;
	}

	.inline-link {
		@apply border-b border-dotted transition-colors hover:text-gray-500;
	}

	.inline-link__sm {
		@apply inline-link text-sm;
	}

	.filter-section {
		@apply rounded-3xl border-2 border-gray-400 p-4;
	}

	.subject-checkbox-item {
		@apply min-h-16 border border-gray-400 rounded-3xl px-4 py-2 hover:border-gray-300 focus-within:border-gray-200;
	}

	.carousel-container {
		@apply w-full max-w-[150rem] mx-auto py-8 px-4 relative overflow-hidden flex flex-col items-center gap-8;
	}

	.carousel-track {
		@apply w-full grid place-items-center grid-flow-col auto-cols-[100%] md:auto-cols-[calc((100%/2)-8px)] lg:auto-cols-[calc((100%/3)-12px)] xl:auto-cols-[calc((100%/4)-12.9px)] gap-4 transition-transform duration-300 ease-in-out;
	}

	.carousel-item {
		@apply max-w-80;
	}

	.carousel-arrow {
		@apply absolute top-1/2 transform -translate-y-1/2 bg-gray-800 hover:bg-gray-700 text-gray-300 rounded-full w-10 h-10 flex items-center justify-center focus:outline-none;
	}
	.materials-list {
		@apply w-full grid grid-flow-row grid-cols-[repeat(auto-fill,minmax(350px,1fr))] items-start gap-4;
	}

	.material-item {
		@apply h-full min-w-full min-h-96 border-2 rounded-3xl transition-all max-w-96 cursor-pointer p-4 shadow-lg flex flex-col justify-between gap-4;
	}

	.material-item__gray {
		@apply bg-gray-900 border-gray-400 hover:border-gray-200 bg-opacity-10 text-gray-400 [&_.divider]:border-gray-400 [&_.header]:text-gray-300 [&_.material-type]:border-gray-400 [&_.upload-date]:text-gray-500 material-item;
	}

	.material-item__orange {
		@apply bg-orange-900 border-orange-400 hover:border-orange-300 bg-opacity-10 text-orange-400 [&_.divider]:border-orange-400 [&_.header]:text-orange-300 [&_.material-type]:border-orange-400 [&_.upload-date]:text-orange-500 material-item;
	}

	.material-item__lime {
		@apply bg-lime-900 border-lime-400 hover:border-lime-300 bg-opacity-10 text-lime-400 [&_.divider]:border-lime-400 [&_.header]:text-lime-300 [&_.material-type]:border-lime-400 [&_.upload-date]:text-lime-500 material-item;
	}

	.material-type {
		@apply text-sm border-2 py-1 px-2 rounded-full;
	}
	.upload-date {
		@apply text-sm;
	}

	.tilt-container {
		transition: transform 0.1s ease-out;
	}

	.tilt-container:hover {
		transform: perspective(1000px) rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) scale(1.05);
	}

	.divider {
		@apply border-t-2 border-gray-400;
	}
}
