{% extends 'base.html' %}


{% block content %}
<div class="h-full flex justify-center items-center">
	<div class="w-64 flex flex-col gap-4">
		<h2 class="text-3xl font-bold text-gray-300 text-center">Logowanie</h2>
		<form action="/login" class="main-form p-4 border border-gray-400 border-2 rounded-3xl" method="post">
			<div class="flex flex-col gap-2">
				<label for="username">Login:</label>
				<input type="text" name="username" id="username">
			</div>
			<div class="flex flex-col gap-2">
				<label for="password">Hasło:</label>
				<input type="password" name="password" id="password">
			</div>
			<input type="submit" value="Zaloguj się">
	  	</form>
	</div>
</div>
{% endblock %}