{% extends 'base.html' %}

{% block content %}
<div class="h-screen grid place-items-center">
	<div class="w-80 flex flex-col gap-4">
		<h2 class="text-2xl font-bold text-gray-300 text-center">Rejestracja</h2>
		<form action="{% url 'users:register' %}" class="main-form p-4 border border-gray-400 border-2 rounded-3xl" method="post">
			{% csrf_token %}
	  		<div>
	  			<label for="username">Login <span title="Rejestracja za pomocą danych do usosa jest możliwa, ale NIE ZALECANA!!! Boimy się wycieków danych do internetu.">&#9432</span>:</label>
				<input type="text" name="username" id="username">
	  		</div>
	  		<div>
	  			<label for="email">E-mail:</label>
				<input type="email" name="email" id="email">
	  		</div>
			<div>
				<label for="password">Hasło:</label>
				<input type="password" name="password" id="password">
			</div>
			<input type="submit" value="Zarejestruj się">
		</form>
	</div>
</div>
{% endblock %}