{% extends 'base.html' %} {% load django_vite %} {% block content %}
<div class="container min-w-full p-4 flex justify-center gap-8">
	<form class="form-primary [&_textarea]:rounded-4xl" action="{% url 'problems:solutions:add' problem.subject.slug problem.topic.slug problem.id %}" enctype="multipart/form-data" method="post">
		<h2 class="font-semibold text-xl text-center">Nowe rozwiązanie</h2>
		{% if form.non_field_errors %}
		<div>
			<div class="error">{{ form.non_field_errors}}</div>
		</div>
		{% endif %} {% csrf_token %}
		<div>
			<label for="{{ form.title.id_for_label }}">{{ form.title.label }}:</label>
			{{ form.title }}
		</div>
		<div>
			<label for="{{ form.description.id_for_label }}">{{ form.description.label }} <span class="text-gray-500">(opcjonalne)</span>:</label>
			{{ form.description }}
		</div>
		<div>
			<label for="{{ form.content.id_for_label }}">{{ form.content.label }} <span class="text-gray-500">(opcjonalne, jeśli dodano plik)</span>:</label>
			{{ form.content }}
			<div id="milkdown" class="w-[90vw] max-w-full"></div>
		</div>
		<div>
			<label for="{{ form.file.id_for_label }}">{{ form.file.label }} <span class="text-gray-500">(opcjonalne, jeśli dodano treść)</span>:</label>
			{{ form.file }}
		</div>
		<button class="btn-primary">Dodaj</button>
	</form>
</div>

{% vite_asset 'src/js/milkdown-setup.js' %}

<style>
	/* custom styles for milkdown */
	.milkdown {
		--crepe-color-background: var(--color-gray-950); /* Main background color */
		--crepe-color-surface: var(--color-gray-900); /* Surface color for cards/panels */
		--crepe-color-surface-low: var(--color-gray-900); /* Lower surface color for depth */

		--crepe-font-title: "Quicksand", sans-serif;
		--crepe-font-default: "Quicksand", sans-serif;
	}
</style>

{% endblock %}
