{% extends 'base.html' %} {% load django_vite %} {% block content %}
<div class="container min-w-full p-4 flex flex-col items-center gap-2">
	<form class="form-primary [&_textarea]:rounded-4xl" enctype="multipart/form-data" method="post">
		<h2 class="font-semibold text-xl text-center">Edytuj rozwiązanie</h2>
		{% csrf_token %} {% if form.non_field_errors %}
		<div>
			<div class="error">{{ form.non_field_errors}}</div>
		</div>
		{% endif %} {% csrf_token %}
		<div>
			<label for="{{ form.title.id_for_label }}">{{ form.title.label }}:</label>
			{{ form.title }}
		</div>
		<div>
			<label for="{{ form.description.id_for_label }}">{{ form.description.label }} <span class="text-gray-500">(opcjonalne)</span>:</label>
			{{ form.description }}
		</div>
		<div>
			<label for="{{ form.content.id_for_label }}">{{ form.content.label }} <span class="text-gray-500">(opcjonalne, jeśli dodano plik)</span>:</label>
			{{ form.content }}
			<div id="milkdown" class="w-[90vw] max-w-full" data-readonly="false" data-markdown="{{ markdown|escape }}"></div>
		</div>
		{% if solution.file %}
		<div>
			<label>Aktualny plik:</label>
			<div class="flex flex-row justify-between items-center gap-4">
				<div class="flex flex-col">
					<a href="{{ solution.file.url }}" target="_blank" class="text-blue-600 underline"> {{ filename }} </a>
				</div>
				<label class="chkbx-primary-label">
					<input type="checkbox" name="clear_file" class="chkbx-primary peer" />
					<span class="chkbx-box"></span>
					<span>Usuń plik</span>
				</label>
			</div>
		</div>
		{% endif %}
		<div>
			<label>Nowy plik <span class="text-gray-500">(UWAGA! Dodanie nowego pliku zastępuje istniejący)</span>:</label>
			{{ form.file }}
		</div>
		<div class="buttons || flex flex-row gap-2">
			<button type="submit" class="btn-primary">Zapisz</button>
			<button onclick="submitDelete()" type="button" class="py-2 px-4 border text-red-500 hover:text-red-600 border-red-500 hover:border-red-600 bg-red-900/10 hover:bg-red-900/20 rounded-full cursor-pointer transition-colors">Usuń</button>
		</div>
	</form>
</div>

{% vite_asset 'src/js/milkdown-setup.js' %}

<script>
	function submitDelete() {
		if (!confirm("Czy na pewno chcesz usunąć to rozwiązanie?")) return;

		fetch("{% url 'problems:solutions:delete' solution.problem.subject.slug solution.problem.topic.slug solution.problem.id solution.id %}", {
			method: "POST",
			headers: {
				"X-CSRFToken": "{{ csrf_token }}",
				"Content-Type": "application/json",
			},
			credentials: "same-origin",
		})
			.then((response) => {
				if (response.redirected) {
					window.location.href = response.url;
				} else if (response.ok) {
					alert("Usunięto pomyślnie.");
					window.location.reload();
				} else {
					alert("Wystąpił błąd podczas usuwania.");
				}
			})
			.catch((err) => {
				console.error("Delete failed", err);
				alert("Wystąpił błąd po stronie klienta.");
			});
	}
</script>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const fileInput = document.querySelector('input[type="file"][name="file"]');
		const clearCheckbox = document.querySelector('input[type="checkbox"][name="clear_file"]');

		if (fileInput && clearCheckbox) {
			fileInput.addEventListener("change", function () {
				if (fileInput.files.length > 0) {
					clearCheckbox.disabled = true;
					clearCheckbox.checked = false;
				} else {
					clearCheckbox.disabled = false;
				}
			});

			clearCheckbox.addEventListener("change", function () {
				if (clearCheckbox.checked) {
					fileInput.disabled = true;
					fileInput.value = "";
				} else {
					fileInput.disabled = false;
				}
			});
		}
	});
</script>

<style>
	/* custom styles for milkdown */
	.milkdown {
		--crepe-color-background: var(--color-gray-950); /* Main background color */
		--crepe-color-surface: var(--color-gray-900); /* Surface color for cards/panels */
		--crepe-color-surface-low: var(--color-gray-900); /* Lower surface color for depth */

		--crepe-font-title: "Quicksand", sans-serif;
		--crepe-font-default: "Quicksand", sans-serif;
	}
</style>

{% endblock %}
