{% extends 'base.html' %} {% block content %}

<section class="hero-section relative overflow-hidden z-40">
	<div class="text-center relative z-10">
		<h1 class="text-4xl sm:text-5xl md:text-7xl font-bold text-gray-300 mb-6">liminf - centrum materiałów z zajęć i pomocy z zadaniami</h1>
		<p class="text-gray-400 max-w-2xl mx-auto text-lg">
			Strona stworzona specjalnie dla kierunku IiSI na wydziale MiNI Politechniki Warszawskiej. Można tutaj znaleźć <em><strong>większość</strong></em> materiałów z zajęć, notatki i rozwiązania zadań.
		</p>
	</div>
</section>

{% endblock content %}
