{% extends 'base.html' %} {% load django_vite %} {% block content %}

<section class="p-4">
	<div class="title max-w-2xl mx-auto py-10">
		<h1 class="text-2xl font-bold text-center text-gray-300">{{ material.title }}</h1>
		<p class="mt-2 text-gray-400 text-center">{{ material.short_description }}</p>
	</div>
</section>
<hr class="divider" />
{% if material.content %}
<section class="p-4">
	<div class="details flex flex-col justify-center items-center">
		<h2 class="text-xl font-bold text-center text-gray-300">Treść</h2>
		<div id="milkdown" class="w-[90vw] max-w-full" data-readonly="true" data-markdown="{{ markdown|escape }}"></div>
	</div>
</section>
<hr class="divider" />
{% endif %} {% if material.file %}
<section class="p-4">
	<div class="flex flex-col gap-4 max-w-2xl mx-auto">
		<h2 class="text-xl font-bold text-center text-gray-300">Pliki</h2>
		<div class="files grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-4 place-items-center">
			<a href="{{ material.file.url }}" target="_blank" class="p-4 border-2 border-gray-300 text-gray-300 rounded-full w-min hover:bg-gray-900 transition-all duration-300"> {{ file_name }} </a>
		</div>
	</div>
</section>
{% endif %} {% vite_asset 'src/js/milkdown-setup.js' %}
<style>
	/* custom styles for milkdown */
	.milkdown {
		--crepe-color-background: var(--color-gray-950); /* Main background color */
		--crepe-color-surface: var(--color-gray-900); /* Surface color for cards/panels */
		--crepe-color-surface-low: var(--color-gray-900); /* Lower surface color for depth */

		--crepe-font-title: "Quicksand", sans-serif;
		--crepe-font-default: "Quicksand", sans-serif;

		/* Custom details view for milkdown */
		width: 100%;
		max-height: none;
		border: none;
	}
</style>

{% endblock content %}
