{% extends 'base.html' %} {% load static %} {% block content %}
<section class="hero-section relative overflow-hidden z-40">
	<div class="text-center relative z-10 max-w-screen-lg mx-auto">
		<h1 class="text-4xl sm:text-5xl md:text-7xl font-bold text-gray-300 mb-6">Materiały</h1>
		<p class="text-gray-400 max-w-2xl mx-auto text-lg">Lista materiałów do nauki: pisane przez studentów notatki, przepisane materiały udostępniane przez prowadzących* oraz źródła zewnętrzne.</p>
		<br />
		<p class="text-gray-500 max-w-2xl mx-auto text-md">
			<em>* Ze względu na to, że niektóre notatki (a zapewne wszystkie) udostępniane przez prowadzących są strzeżone prawem autorskim, zaleca się wysyłanie jedynie swoich notatek lub przepisywanie oficjalnych materiałów własnymi słowami.</em>
		</p>
	</div>
</section>
<hr class="divider" />

<section class="materials-section py-12 px-4 md:sm-2">
	<div class="flex justify-between items-center mb-6 gap-0 z-10 rounded-full border border-gray-400 bg-gray-950/40 backdrop-blur-sm p-2" id="search-bar">
		<!-- Filter Button -->
		<button id="toggle-filters-btn" class="btn-transparent border-0 h-12 flex items-center gap-2 py-2 px-4 transition-colors">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 stroke-gray-300">
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z"
				/>
			</svg>
			<span>Filtry</span>
		</button>

		<!-- Divider before dropdown -->
		<div class="h-8 border-l border-gray-400 self-center"></div>

		<!-- Search Input -->
		<div class="flex-grow px-4 flex items-center">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 stroke-gray-500">
				<path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
			</svg>
			<input type="text" id="filter-input" class="w-full p-2 rounded-full border-none h-12 bg-transparent placeholder-gray-500" placeholder="Szukaj po nazwie..." />
		</div>
	</div>

	<!-- Main content area with filters and materials -->
	<div class="flex max-[1080px]:flex-col relative">
		<!-- Filters container - initially hidden on mobile -->
		<div id="filters-wrapper" class="filter-wrapper || h-min max-[1080px]:min-w-full max-w-[500px] border-1 border-gray-400 rounded-4xl absolute md:relative left-0 top-0 bg-blur z-10 hidden || section-invisible">
			<div class="filters-container || overflow-hidden px-4 py-4">
				<div class="filters grid grid-cols-1 gap-8 rounded-3xl">
					<!-- Problems subjects and topics filtering -->
					{% if subjects %}
					<div class="w-full">
						<ul class="flex flex-col gap-2">
							{% for subject, topics in subjects.items %}
							<li class="border border-gray-400 rounded-3xl min-w-72">
								<!-- Toggle & Subject Checkbox -->
								<div onclick="toggleSection(this)" class="cursor-pointer p-4 flex justify-between items-center select-none">
									<label class="chkbx-primary-label" onclick="event.stopPropagation()">
										<input type="checkbox" class="subject-checkbox chkbx-primary peer" data-subject="{{ subject.slug }}" />
										<span class="chkbx-box"></span>
										<span class="font-semibold">{{ subject }}</span>
									</label>
									<svg class="arrow-icon || w-4 h-4 transform transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
									</svg>
								</div>

								<!-- Hidden Section -->
								<div class="max-h-0 px-4 opacity-0 scale-y-0 origin-top transition-all duration-300" data-section>
									<!-- Divider -->
									<hr class="divider scale-x-0 transition-transform duration-300 origin-center" id="hr-{{ subject.slug }}" />
									<ul class="topic-filter || overflow-y-auto max-h-80 flex flex-col py-4 px-8 gap-2">
										{% for topic in topics %}
										<li data-topic="{{ topic.slug }}">
											<label class="chkbx-primary-label text-sm">
												<input type="checkbox" name="topic" data-parent="{{ subject.slug }}" data-topic="{{ topic.slug }}" class="chkbx-primary peer" />
												<span class="chkbx-box"></span>
												<span>{{ topic.name }}</span>
											</label>
										</li>
										{% endfor %}
									</ul>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %} {% if semesters %}
					<div class="w-full border border-gray-400 rounded-3xl min-w-72">
						<!-- Toggle & Header -->
						<div onclick="toggleSection(this)" class="cursor-pointer p-4 flex justify-between items-center select-none">
							<label class="chkbx-primary-label" onclick="event.stopPropagation()">
								<input type="checkbox" class="semester-main-checkbox chkbx-primary peer" />
								<span class="chkbx-box"></span>
								<span class="font-semibold">Semestry</span>
							</label>
							<svg class="arrow-icon || w-4 h-4 transform transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
							</svg>
						</div>

						<!-- Hidden Section -->
						<div class="max-h-0 px-4 overflow-hidden opacity-0 scale-y-0 origin-top transition-all duration-300" data-section>
							<!-- Divider -->
							<hr class="divider scale-x-0 transition-transform duration-300 origin-center" />
							<ul class="semester-filter || flex flex-col py-4 px-8 gap-2">
								{% for semester in semesters %}
								<li data-semester="{{ semester.id|default:semester }}">
									<label class="chkbx-primary-label text-sm">
										<input type="checkbox" name="semester" data-semester="{{ semester.id|default:semester }}" class="chkbx-primary peer semester-checkbox" />
										<span class="chkbx-box"></span>
										<span>{{ semester.name|default:semester }}</span>
									</label>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					{% endif %}

					<!-- Materials type filtering -->
					<div class="filter-section || max-h-min hover:border-gray-300 transition-colors min-w-72">
						<h4 class="text-gray-300 font-semibold mb-2">Typ materiału</h4>
						<ul class="flex flex-col gap-2" id="type-filter">
							<!-- Official (grey) type -->
							<li>
								<label class="flex items-center gap-2 cursor-pointer select-none group">
									<input type="checkbox" name="official" id="official" class="hidden peer material-type-checkbox" data-type="official" />
									<span class="w-4 h-4 rounded-full border-2 border-gray-400 inline-block relative transition-colors group-hover:border-gray-300 peer-checked:bg-gray-200 peer-checked:border-gray-200"></span>
									<span class="text-gray-400 transition-colors group-hover:text-gray-300 peer-checked:text-gray-200">Oficjalne materiały</span>
								</label>
							</li>

							<!-- Students' (sky) type -->
							<li>
								<label class="flex items-center gap-2 cursor-pointer select-none group">
									<input type="checkbox" name="student_notes" id="student_notes" class="hidden peer material-type-checkbox" data-type="student_notes" />
									<span class="w-4 h-4 rounded-full border-2 border-sky-400 inline-block relative transition-colors group-hover:border-sky-500 peer-checked:bg-sky-400 peer-checked:border-sky-400"></span>
									<span class="text-gray-400 transition-colors group-hover:text-sky-500 peer-checked:text-sky-400">Notatki studentów</span>
								</label>
							</li>

							<!-- Article (violet) type -->
							<li>
								<label class="flex items-center gap-2 cursor-pointer select-none group">
									<input type="checkbox" name="article" id="article" class="hidden peer material-type-checkbox" data-type="article" />
									<span class="w-4 h-4 rounded-full border-2 border-violet-400 inline-block relative transition-colors group-hover:border-violet-500 peer-checked:bg-violet-400 peer-checked:border-violet-400"></span>
									<span class="text-gray-400 transition-colors group-hover:text-violet-600 peer-checked:text-violet-300">Inne źródła</span>
								</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Materials container - will expand to full width when filters are hidden -->
		<div class="materials flex flex-col items-center gap-4 flex-grow transition-all duration-300" id="materials-container">{% include 'partials/materials_list.html' %}</div>
	</div>
</section>

<script>
	let selectedFilters = {
		page: 1,
		q: "",
		topics: {},
		types: [],
		semesters: [],
	};

	function fetchMaterials(signal) {
		const params = new URLSearchParams();
		const container = document.getElementById("materials-container");
		container.classList.add("loading");

		if (selectedFilters.page) params.append("page", selectedFilters.page);
		if (selectedFilters.q) params.append("q", selectedFilters.q);
		if (Object.keys(selectedFilters.topics).length > 0) {
			for (const subject in selectedFilters.topics) {
				if (selectedFilters.topics[subject].length > 0) {
					params.append(`topics`, JSON.stringify(selectedFilters.topics));
				}
			}
		}
		if (selectedFilters.types.length > 0) {
			params.append("types", selectedFilters.types.join(","));
		}
		// Add semester filtering to params
		if (selectedFilters.semesters.length > 0) {
			params.append("semesters", selectedFilters.semesters.join(","));
		}

		return fetch(`/materials/ajax/?${params.toString()}`, { signal })
			.then((response) => response.json())
			.then((data) => {
				container.innerHTML = data.html;
			})
			.catch((error) => {
				if (error.name === "AbortError") {
					return;
				}
				console.error("Fetch error:", error);
			})
			.finally(() => {
				container.classList.remove("loading");
			});
	}

	document.querySelectorAll(".semester-filter label").forEach((label) => {
		const input = label.querySelector("input");

		input.addEventListener("change", () => {
			const semester = input.dataset.semester;
			const index = selectedFilters.semesters.indexOf(semester);

			if (index > -1) {
				// Already selected, deselect it
				selectedFilters.semesters.splice(index, 1);
				input.checked = false;
			} else {
				// Add new selection
				selectedFilters.semesters.push(semester);
				input.checked = true;
			}

			// Reset to page 1 when filters change
			selectedFilters.page = 1;
			debounceFetch();
		});
	});

	// Main semester checkbox controls all individual semesters
	document.querySelectorAll(".semester-main-checkbox").forEach((mainCheckbox) => {
		mainCheckbox.addEventListener("change", function () {
			const semesterCheckboxes = document.querySelectorAll('input[name="semester"]');

			semesterCheckboxes.forEach((semester) => {
				semester.checked = this.checked;
				const semesterValue = semester.dataset.semester;

				if (this.checked) {
					// If main checkbox is checked, add all semesters to selected filters
					if (!selectedFilters.semesters.includes(semesterValue)) {
						selectedFilters.semesters.push(semesterValue);
					}
				} else {
					// If unchecked, remove all semesters from selected filters
					const index = selectedFilters.semesters.indexOf(semesterValue);
					if (index > -1) {
						selectedFilters.semesters.splice(index, 1);
					}
				}
			});

			// Reset to page 1 when filters change
			selectedFilters.page = 1;
			debounceFetch();
		});
	});

	// Individual semester changes may affect the main semester checkbox
	document.querySelectorAll('input[name="semester"]').forEach((semesterCheckbox) => {
		semesterCheckbox.addEventListener("change", function () {
			const allSemesters = document.querySelectorAll('input[name="semester"]');
			const checkedSemesters = [...allSemesters].filter((cb) => cb.checked);
			const mainCheckbox = document.querySelector(".semester-main-checkbox");

			// Update the semester in selectedFilters
			const semesterValue = this.dataset.semester;
			const index = selectedFilters.semesters.indexOf(semesterValue);

			if (this.checked && index === -1) {
				selectedFilters.semesters.push(semesterValue);
			} else if (!this.checked && index > -1) {
				selectedFilters.semesters.splice(index, 1);
			}

			// Main checkbox state logic
			if (checkedSemesters.length === allSemesters.length) {
				mainCheckbox.checked = true;
				mainCheckbox.indeterminate = false;
			} else if (checkedSemesters.length > 0) {
				mainCheckbox.checked = false;
				mainCheckbox.indeterminate = true;
			} else {
				mainCheckbox.checked = false;
				mainCheckbox.indeterminate = false;
			}

			// Reset to page 1 when filters change
			selectedFilters.page = 1;
			debounceFetch();
		});
	});

	// Pagination event listener
	document.addEventListener("click", function (e) {
		let target = e.target;

		while (target && target !== document) {
			if (target.classList.contains("page-link") && target.dataset.page !== undefined) {
				e.preventDefault();
				const page = target.dataset.page;
				selectedFilters.page = page;
				fetchMaterials();
				break;
			}
			target = target.parentElement;
		}
	});

	// Debounce function for filters
	let debounceTimeout;
	let currentAbortController = null;

	function debounceFetch() {
		clearTimeout(debounceTimeout);
		debounceTimeout = setTimeout(() => {
			// Cancel previous fetch
			if (currentAbortController) currentAbortController.abort();

			const controller = new AbortController();
			currentAbortController = controller;
			fetchMaterials(controller.signal).finally(() => {
				if (currentAbortController === controller) currentAbortController = null;
			});
		}, 300);
	}

	// Event listeners for filters

	// Name filtering

	document.getElementById("filter-input").addEventListener("input", function () {
		selectedFilters.q = this.value;
		debounceFetch();
	});

	// Topic filtering
	document.querySelectorAll(".topic-filter label").forEach((label) => {
		const input = label.querySelector("input");

		input.addEventListener("change", () => {
			const topic = input.dataset.topic;
			const subject = input.dataset.parent; // Get the subject from the data attribute
			if (!selectedFilters.topics[subject]) {
				selectedFilters.topics[subject] = []; // Initialize if not already done
			}
			const index = selectedFilters.topics[subject].indexOf(topic);
			if (index > -1) {
				// Already selected, deselect it
				selectedFilters.topics[subject].splice(index, 1);
			} else {
				// Add new selection
				selectedFilters.topics[subject].push(topic);
			}
			debounceFetch();
		});
	});

	// Type filtering
	document.querySelectorAll("#type-filter label").forEach((label) => {
		const input = label.querySelector("input");
		input.addEventListener("change", () => {
			const type = input.dataset.type;
			const index = selectedFilters.types.indexOf(type);
			if (index > -1) {
				selectedFilters.types.splice(index, 1);
				input.checked = false;
			} else {
				selectedFilters.types.push(type);
				input.checked = true;
			}
			debounceFetch();
		});
	});

	// Sticky filters on scroll
	function handleStickyFilters() {
		const filtersWrapper = document.getElementById("filters-wrapper");
		const searchInput = document.getElementById("search-bar");

		const scrollTop = window.scrollY;
		filtersWrapper.style.position = "sticky";
		searchInput.style.position = "sticky";
		filtersWrapper.style.top = "188px"; // Add a small margin from the top
		searchInput.style.top = "98px"; // Add a small margin from the top
	}

	// Initialize sticky scroll behavior
	window.addEventListener("scroll", handleStickyFilters);
	window.addEventListener("load", handleStickyFilters);
</script>

<script>
	function toggleSection(headerDiv) {
		const wrapper = headerDiv.nextElementSibling;
		const arrowIcon = headerDiv.querySelector(".arrow-icon");
		const hr = wrapper.querySelector("hr");

		// Cancel timeout if exists
		if (wrapper.dataset.timeoutId) {
			clearTimeout(wrapper.dataset.timeoutId);
			wrapper.dataset.timeoutId = null;
		}

		const isOpen = wrapper.classList.contains("opacity-100");

		if (isOpen) {
			wrapper.style.maxHeight = wrapper.scrollHeight + "px";
			requestAnimationFrame(() => {
				requestAnimationFrame(() => {
					wrapper.classList.add("max-h-0", "opacity-0", "scale-y-0");
					wrapper.classList.remove("opacity-100", "scale-y-100");
					wrapper.style.maxHeight = "0px";
				});
				arrowIcon?.classList.remove("rotate-180");
				hr?.classList.remove("scale-x-100");
				hr?.classList.add("scale-x-0");
			});
		} else {
			const scrollHeight = wrapper.scrollHeight;
			wrapper.classList.remove("max-h-0", "opacity-0", "scale-y-0");
			wrapper.classList.add("opacity-100", "scale-y-100");
			wrapper.style.maxHeight = scrollHeight + "px";
			arrowIcon?.classList.add("rotate-180");
			hr?.classList.remove("scale-x-0");
			hr?.classList.add("scale-x-100");

			const timeoutId = setTimeout(() => {
				wrapper.style.maxHeight = "none";
				wrapper.dataset.timeoutId = null;
			}, 300);
			wrapper.dataset.timeoutId = timeoutId;
		}
	}

	// Subject checkbox controls all child topics
	document.querySelectorAll(".subject-checkbox").forEach((subjectCheckbox) => {
		subjectCheckbox.addEventListener("change", function () {
			const subject = this.dataset.subject;
			const topicCheckboxes = document.querySelectorAll(`input[name="topic"][data-parent="${subject}"]`);
			if (!selectedFilters.topics[subject]) {
				selectedFilters.topics[subject] = []; // Initialize if not already done
			}
			topicCheckboxes.forEach((topic) => {
				topic.checked = this.checked;
				if (this.checked) {
					// If the subject is checked, add all topics to the selected filters
					if (!selectedFilters.topics[subject].includes(topic.dataset.topic)) {
						selectedFilters.topics[subject].push(topic.dataset.topic);
					}
				} else {
					// If unchecked, remove all topics from the selected filters
					const index = selectedFilters.topics[subject].indexOf(topic.dataset.topic);
					if (index > -1) {
						selectedFilters.topics[subject].splice(index, 1);
					}
				}
			});
			debounceFetch();
		});
	});

	// Individual topic changes may affect the subject checkbox
	document.querySelectorAll('input[name="topic"]').forEach((topicCheckbox) => {
		topicCheckbox.addEventListener("change", function () {
			const subject = this.dataset.parent;
			const all = document.querySelectorAll(`input[name="topic"][data-parent="${subject}"]`);
			const checked = [...all].filter((cb) => cb.checked);
			const subjectBox = document.querySelector(`.subject-checkbox[data-subject="${subject}"]`);

			// Checkbox state logic
			if (checked.length === all.length) {
				subjectBox.checked = true;
				subjectBox.indeterminate = false;
			} else if (checked.length > 0) {
				subjectBox.checked = false;
				subjectBox.indeterminate = true;
			} else {
				subjectBox.checked = false;
				subjectBox.indeterminate = false;
			}
		});
	});
</script>
{% endblock content %}
