{% if page_obj %}
<div class="card-items-list" id="materials-list">
	{% for material in page_obj %}
	<a href="{% url 'materials:details' material.topic.subject.slug material.topic.slug material.id %}">
		<div class="{{ material.get_border_style }} tilt-container" onmousemove="updateTilt(event)">
			<div class="basic-data">
				<h3 class="header text-xl font-semibold">{{ material.title }}</h3>
				<p class="">{{ material.topic.subject }}</p>
				<p class="">{{ material.topic.name }}</p>
			</div>
			<hr class="divider" />
			<div class="description flex-1">
				<p class="">{{ material.description }}</p>
			</div>
			<hr class="divider" />
			<div class="additional-data flex justify-between items-center">
				<span class="material-type">{{ material.get_type_display }}</span>
				<span class="upload-date">{{ material.uploaded_at|date:'d.m.Y' }}</span>
			</div>
		</div>
	</a>
	{% endfor %}
</div>
<div class="pagination flex justify-center items-center gap-4">
	{% if page_obj.has_previous %}
	<button type="button" class="page-link btn-transparent || p-2 border border-gray-400 hover:border-gray-300 active:border-gray-200" data-page="{{ page_obj.previous_page_number }}">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
		</svg>
	</button>
	{% endif %}

	<span>Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}</span>

	{% if page_obj.has_next %}
	<button type="button" class="page-link btn-transparent || p-2 border border-gray-400 hover:border-gray-300 active:border-gray-200" data-page="{{ page_obj.next_page_number }}">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
		</svg>
	</button>
	{% endif %}
</div>
{% else %}
<div class="no-materials">
	<p class="text-gray-400">Nie znaleziono materiałów.</p>
</div>
{% endif %}
