{% load static %}

<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet" />

		{% if debug %}
		<script type="module" src="http://localhost:5173/src/main.js"></script>
		{% else %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<script type="module" src="{% static 'main.js' %}"></script>
		{% endif %}

		<title>liminf - notatki, zadania, rozwiązania</title>
	</head>
	<body class="bg-gray-950 text-gray-300 font-display">
		<main class="main-content">{% block content %} {% endblock content %}</main>
	</body>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
</html>
