{% load static %}

<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Platforma z materiałami i notatkami z zajęć, rozwiązaniami zadań i ogólnymi informacjami związanymi z kierunkiem." />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet" />
		<link href="https://cdn.jsdelivr.net/npm/prismjs@1/themes/prism.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://unpkg.com/@milkdown/theme-nord/style.css" />

		<link rel="icon" type="image/png" href="{% static 'src/img/logo/favicon-96x96.png' %}" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="{% static 'src/img/logo/favicon.svg' %}" />
		<link rel="shortcut icon" href="{% static 'src/img/logo/favicon.ico' %}" />
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'src/img/logo/apple-touch-icon.png' %}" />
		<meta name="apple-mobile-web-app-title" content="liminf" />
		<link rel="manifest" href="{% static 'src/img/logo/site.webmanifest' %}" />

		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>

		<title>liminf - notatki, zadania, rozwiązania</title>
	</head>
	<body class="bg-gray-950 text-gray-300 font-display">
		{% include 'header.html'%}
		<main class="main-content pt-[90px]">{% block content %} {% endblock content %}</main>
		{% include 'footer.html' %}
	</body>
	<script src="{% static 'js/tilter.js' %}"></script>
	<script src="{% static 'js/menu-toggle.js' %}"></script>

	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

	<!-- Prism Autoloader -->
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-core.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1/plugins/autoloader/prism-autoloader.min.js"></script>

	<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
	<script src="https://unpkg.com/embla-carousel-autoplay/embla-carousel-autoplay.umd.js"></script>
</html>
