<footer class="main-footer mt-8 bg-gray-900 text-gray-400 text-sm">
	<div class="footer-content flex justify-between p-4 gap-2 max-sm:flex-col max-sm:items-center">
		<p class="">&copy liminf by <strong>Aleksandr Kuraskin</strong> 2025</p>

		<!-- <div class="social-links max-sm:order-first">
			<ul class="flex flex-row gap-4">
				<li><a class="transition-colors hover:text-gray-300" href="discord">Discord</a></li>
				<li><a class="transition-colors hover:text-gray-300" href="facebook">Facebook</a></li>
				<li><a class="transition-colors hover:text-gray-300" href="instagram">Instagram</a></li>
			</ul>
		</div> -->
	</div>
</footer>
