{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet" />
		{% tailwind_css %}

		<title>liminf - notatki, zadania, rozwiązania</title>
	</head>
	<body class="bg-gray-950 text-gray-300 font-quicksand">
		{% block header%} {% endblock header %}
		<main class="main-content">{% block content %} {% endblock content %}</main>
		<footer class="main-footer mt-8 bg-gray-900 text-gray-400 text-sm">
			<div class="footer-content flex justify-between p-4 gap-2 max-sm:flex-col max-sm:items-center">
				<p class="">&copy liminf by <strong>Aleksandr Kuraskin</strong> 2025</p>
				<div class="social-links max-sm:order-first">
					<ul class="flex flex-row gap-4">
						<li><a class="transition-colors hover:text-gray-300" href="discord">Discord</a></li>
						<li><a class="transition-colors hover:text-gray-300" href="facebook">Facebook</a></li>
						<li><a class="transition-colors hover:text-gray-300" href="instagram">Instagram</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</body>
	<script src="{% static 'js/scripts.js' %}"></script>
</html>
