{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet" />
		{% tailwind_css %}

		<title>liminf - Informatyka exclusive</title>
	</head>
	<body class="bg-gray-950 text-gray-300 font-quicksand">
		<header class="main-header p-4">
			<div class="container flex flex-row justify-between min-w-full items-center [&>div]:h-full [&>div]:border [&>div]:border-gray-400 [&>div]:rounded-full [&>div]:flex [&>div]:items-center">
				<div class="logo justify-center py-4 px-8 font-semibold">
					<a href="{% url 'home' %}">liminf</a>
				</div>
				<div class="main-nav font-semibold flex-grow py-4 px-8 max-lg:invisible max-lg:absolute max-lg:size-0">
					<ul class="flex flex-row gap-8 justify-end w-full ml-auto">
						<li><a class="nav-link" href="{% url 'home' %}">Start</a></li>
						<li><a class="nav-link" href="{% url 'materials:subjects-list' %}">Materiały</a></li>
						<li><a class="nav-link" href="{% url 'problems' %}">Zadania</a></li>
						<li><a class="nav-link" href="{% url 'about' %}">O Projekcie</a></li>
						<li><a class="nav-link" href="{% url 'donate' %}">Podziękować</a></li>
					</ul>
				</div>
				<div class="login gap-2 px-2 py-2">
					<a class="px-4 py-2 font-semibold transition-colors hover:text-gray-500" href="{% url 'users:login' %}">Zaloguj się</a>
					<a class="btn-primary" href="{% url 'users:register' %}">Zarejestruj się</a>
				</div>
			</div>
		</header>
		<main class="main-content">{% block content %} {% endblock content %}</main>
		<footer class="main-footer bg-gray-900 text-gray-400 text-sm">
			<div class="footer-content flex justify-between p-4">
				<p class="">&copy liminf by <strong>Aleksandr Kuraskin</strong> 2025</p>
				<div class="social-links">
					<ul class="flex flex-row gap-4">
						<li><a href="discord">Discord</a></li>
						<li><a href="facebook">Facebook</a></li>
						<li><a href="instagram">Instagram</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</body>
</html>
